version: "3.9"

services:
  gateway:
    build:
      context: .
      dockerfile: gateway/Dockerfile
    container_name: gateway
    environment:
      - QUERY_1_TOTAL_WORKERS=2
      - QUERY_2_TOTAL_WORKERS=3
      - QUERY_3_TOTAL_WORKERS=2
      - QUERY_4_TOTAL_WORKERS=1
      - NUMBER_OF_YEAR_WORKERS=3
      - NUMBER_OF_BIRTHDAY_MAPPERS=3
    ports:
      - "5000:5000"
    networks:
      - tpg_net
    depends_on:
      - rabbitmq_server
    volumes:
      - ./data/received:/app/data/received

  rabbitmq_server:
    image: rabbitmq:3-management
    container_name: rabbitmq_server
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - tpg_net
    healthcheck:
      test: ["CMD", "rabbitmq_server-diagnostics", "ping"]
      interval: 30s
      timeout: 10s
      retries: 5

  client_1:
    build:
      context: .
      dockerfile: client/Dockerfile
    container_name: client_1
    environment:
      - CLIENT_ID=client_1
    networks:
      - tpg_net
    depends_on:
      - gateway
    volumes:
      - ./data/input:/data/input

  client_2:
    build:
      context: .
      dockerfile: client/Dockerfile
    container_name: client_2
    environment:
      - CLIENT_ID=client_2
    networks:
      - tpg_net
    depends_on:
      - gateway
    volumes:
      - ./data/input:/data/input

  filter_by_year_worker_0:
    build:
      context: .
      dockerfile: workers/filter_by_year/Dockerfile
    container_name: filter_by_year_worker_0
    environment:
      - RABBITMQ_HOST=rabbitmq_server
      - RECEIVER_EXCHANGE_T=filter_by_year_transactions_exchange
      - RECEIVER_EXCHANGE_T_ITEMS=filter_by_year_transaction_items_exchange
      - WORKER_INDEX=0
      - HOUR_FILTER_EXCHANGE=filter_by_hour_exchange
      - NUMBER_OF_HOUR_WORKERS=4
      - NUMBER_OF_YEAR_WORKERS=3
      - ITEM_CATEGORIZER_QUEUE=categorizer_q2_receiver_queue
      - STORE_USER_CATEGORIZER_QUEUE=store_user_categorizer_queue
      - FILTER_YEAR=2024,2025
      - TOPIC_EXCHANGE=categorizer_q2_topic_exchange
      - FANOUT_EXCHANGE=categorizer_q2_fanout_exchange
      - CATEGORIZER_Q4_TOPIC_EXCHANGE=categorizer_q4_topic_exchange
      - CATEGORIZER_Q4_FANOUT_EXCHANGE=categorizer_q4_fanout_exchange
      - CATEGORIZER_Q4_WORKERS=3
    networks:
      - tpg_net
    depends_on:
      - rabbitmq_server
    volumes:
      - ./persistence/filter_by_year_worker_0:/app/persistence

  filter_by_year_worker_1:
    build:
      context: .
      dockerfile: workers/filter_by_year/Dockerfile
    container_name: filter_by_year_worker_1
    environment:
      - RABBITMQ_HOST=rabbitmq_server
      - RECEIVER_EXCHANGE_T=filter_by_year_transactions_exchange
      - RECEIVER_EXCHANGE_T_ITEMS=filter_by_year_transaction_items_exchange
      - WORKER_INDEX=1
      - HOUR_FILTER_EXCHANGE=filter_by_hour_exchange
      - NUMBER_OF_HOUR_WORKERS=4
      - NUMBER_OF_YEAR_WORKERS=3
      - ITEM_CATEGORIZER_QUEUE=categorizer_q2_receiver_queue
      - STORE_USER_CATEGORIZER_QUEUE=store_user_categorizer_queue
      - FILTER_YEAR=2024,2025
      - TOPIC_EXCHANGE=categorizer_q2_topic_exchange
      - FANOUT_EXCHANGE=categorizer_q2_fanout_exchange
      - CATEGORIZER_Q4_TOPIC_EXCHANGE=categorizer_q4_topic_exchange
      - CATEGORIZER_Q4_FANOUT_EXCHANGE=categorizer_q4_fanout_exchange
      - CATEGORIZER_Q4_WORKERS=3
    networks:
      - tpg_net
    depends_on:
      - rabbitmq_server
    volumes:
      - ./persistence/filter_by_year_worker_1:/app/persistence

  filter_by_year_worker_2:
    build:
      context: .
      dockerfile: workers/filter_by_year/Dockerfile
    container_name: filter_by_year_worker_2
    environment:
      - RABBITMQ_HOST=rabbitmq_server
      - RECEIVER_EXCHANGE_T=filter_by_year_transactions_exchange
      - RECEIVER_EXCHANGE_T_ITEMS=filter_by_year_transaction_items_exchange
      - WORKER_INDEX=2
      - HOUR_FILTER_EXCHANGE=filter_by_hour_exchange
      - NUMBER_OF_HOUR_WORKERS=4
      - NUMBER_OF_YEAR_WORKERS=3
      - ITEM_CATEGORIZER_QUEUE=categorizer_q2_receiver_queue
      - STORE_USER_CATEGORIZER_QUEUE=store_user_categorizer_queue
      - FILTER_YEAR=2024,2025
      - TOPIC_EXCHANGE=categorizer_q2_topic_exchange
      - FANOUT_EXCHANGE=categorizer_q2_fanout_exchange
      - CATEGORIZER_Q4_TOPIC_EXCHANGE=categorizer_q4_topic_exchange
      - CATEGORIZER_Q4_FANOUT_EXCHANGE=categorizer_q4_fanout_exchange
      - CATEGORIZER_Q4_WORKERS=3
    networks:
      - tpg_net
    depends_on:
      - rabbitmq_server
    volumes:
      - ./persistence/filter_by_year_worker_2:/app/persistence

  filter_by_hour_worker_0:
    build:
      context: .
      dockerfile: workers/filter_by_hour/Dockerfile
    container_name: filter_by_hour_worker_0
    environment:
      - RABBITMQ_HOST=rabbitmq_server
      - RECEIVER_EXCHANGE=filter_by_hour_exchange
      - WORKER_INDEX=0
      - START_HOUR=6
      - END_HOUR=22
      - FILTER_BY_AMOUNT_EXCHANGE=filter_by_amount_exchange
      - CATEGORIZER_Q3_EXCHANGE=categorizer_q3_exchange
      - CATEGORIZER_Q3_FANOUT_EXCHANGE=categorizer_q3_fanout_exchange
      - NUMBER_OF_AMOUNT_WORKERS=2
      - NUMBER_OF_HOUR_WORKERS=4
      - NUMBER_OF_YEAR_WORKERS=3
    networks:
      - tpg_net
    depends_on:
      - rabbitmq_server
    volumes:
      - ./persistence/filter_by_hour_worker_0:/app/persistence

  filter_by_hour_worker_1:
    build:
      context: .
      dockerfile: workers/filter_by_hour/Dockerfile
    container_name: filter_by_hour_worker_1
    environment:
      - RABBITMQ_HOST=rabbitmq_server
      - RECEIVER_EXCHANGE=filter_by_hour_exchange
      - WORKER_INDEX=1
      - START_HOUR=6
      - END_HOUR=22
      - FILTER_BY_AMOUNT_EXCHANGE=filter_by_amount_exchange
      - CATEGORIZER_Q3_EXCHANGE=categorizer_q3_exchange
      - CATEGORIZER_Q3_FANOUT_EXCHANGE=categorizer_q3_fanout_exchange
      - NUMBER_OF_AMOUNT_WORKERS=2
      - NUMBER_OF_HOUR_WORKERS=4
      - NUMBER_OF_YEAR_WORKERS=3
    networks:
      - tpg_net
    depends_on:
      - rabbitmq_server
    volumes:
      - ./persistence/filter_by_hour_worker_1:/app/persistence

  filter_by_hour_worker_2:
    build:
      context: .
      dockerfile: workers/filter_by_hour/Dockerfile
    container_name: filter_by_hour_worker_2
    environment:
      - RABBITMQ_HOST=rabbitmq_server
      - RECEIVER_EXCHANGE=filter_by_hour_exchange
      - WORKER_INDEX=2
      - START_HOUR=6
      - END_HOUR=22
      - FILTER_BY_AMOUNT_EXCHANGE=filter_by_amount_exchange
      - CATEGORIZER_Q3_EXCHANGE=categorizer_q3_exchange
      - CATEGORIZER_Q3_FANOUT_EXCHANGE=categorizer_q3_fanout_exchange
      - NUMBER_OF_AMOUNT_WORKERS=2
      - NUMBER_OF_HOUR_WORKERS=4
      - NUMBER_OF_YEAR_WORKERS=3
    networks:
      - tpg_net
    depends_on:
      - rabbitmq_server
    volumes:
      - ./persistence/filter_by_hour_worker_2:/app/persistence

  filter_by_hour_worker_3:
    build:
      context: .
      dockerfile: workers/filter_by_hour/Dockerfile
    container_name: filter_by_hour_worker_3
    environment:
      - RABBITMQ_HOST=rabbitmq_server
      - RECEIVER_EXCHANGE=filter_by_hour_exchange
      - WORKER_INDEX=3
      - START_HOUR=6
      - END_HOUR=22
      - FILTER_BY_AMOUNT_EXCHANGE=filter_by_amount_exchange
      - CATEGORIZER_Q3_EXCHANGE=categorizer_q3_exchange
      - CATEGORIZER_Q3_FANOUT_EXCHANGE=categorizer_q3_fanout_exchange
      - NUMBER_OF_AMOUNT_WORKERS=2
      - NUMBER_OF_HOUR_WORKERS=4
      - NUMBER_OF_YEAR_WORKERS=3
    networks:
      - tpg_net
    depends_on:
      - rabbitmq_server
    volumes:
      - ./persistence/filter_by_hour_worker_3:/app/persistence

  filter_by_amount_worker_0:
    build:
      context: .
      dockerfile: workers/filter_by_amount/Dockerfile
    container_name: filter_by_amount_worker_0
    environment:
      - RABBITMQ_HOST=rabbitmq_server
      - RECEIVER_EXCHANGE=filter_by_amount_exchange
      - WORKER_INDEX=0
      - MIN_AMOUNT=75.0
      - RESULT_QUEUE=query1_result_receiver_queue
      - NUMBER_OF_HOUR_WORKERS=4
    networks:
      - tpg_net
    depends_on:
      - rabbitmq_server
    volumes:
      - ./persistence/filter_by_amount_worker_0:/app/persistence

  filter_by_amount_worker_1:
    build:
      context: .
      dockerfile: workers/filter_by_amount/Dockerfile
    container_name: filter_by_amount_worker_1
    environment:
      - RABBITMQ_HOST=rabbitmq_server
      - RECEIVER_EXCHANGE=filter_by_amount_exchange
      - WORKER_INDEX=1
      - MIN_AMOUNT=75.0
      - RESULT_QUEUE=query1_result_receiver_queue
      - NUMBER_OF_HOUR_WORKERS=4
    networks:
      - tpg_net
    depends_on:
      - rabbitmq_server
    volumes:
      - ./persistence/filter_by_amount_worker_1:/app/persistence

  categorizer_q2_worker_1:
    build:
      context: .
      dockerfile: workers/categorizer_q2/Dockerfile
    container_name: categorizer_q2_worker_1
    environment:
      - RABBITMQ_HOST=rabbitmq_server
      - ITEMS_QUEUE=categorizer_q2_items_queue
      - RECEIVER_QUEUE=categorizer_q2_receiver_queue_1
      - GATEWAY_QUEUE=query2_result_receiver_queue
      - TOPIC_EXCHANGE=categorizer_q2_topic_exchange
      - FANOUT_EXCHANGE=categorizer_q2_fanout_exchange
      - ITEMS_FANOUT_EXCHANGE=categorizer_q2_items_fanout_exchange
      - WORKER_INDEX=0
      - TOTAL_WORKERS=3
      - NUMBER_OF_YEAR_WORKERS=3
    networks:
      - tpg_net
    depends_on:
      - rabbitmq_server
      - gateway
    volumes:
      - ./persistence/categorizer_q2_worker_1:/app/persistence

  categorizer_q2_worker_2:
    build:
      context: .
      dockerfile: workers/categorizer_q2/Dockerfile
    container_name: categorizer_q2_worker_2
    environment:
      - RABBITMQ_HOST=rabbitmq_server
      - ITEMS_QUEUE=categorizer_q2_items_queue
      - RECEIVER_QUEUE=categorizer_q2_receiver_queue_2
      - GATEWAY_QUEUE=query2_result_receiver_queue
      - TOPIC_EXCHANGE=categorizer_q2_topic_exchange
      - FANOUT_EXCHANGE=categorizer_q2_fanout_exchange
      - ITEMS_FANOUT_EXCHANGE=categorizer_q2_items_fanout_exchange
      - WORKER_INDEX=1
      - TOTAL_WORKERS=3
      - NUMBER_OF_YEAR_WORKERS=3
    networks:
      - tpg_net
    depends_on:
      - rabbitmq_server
      - gateway
    volumes:
      - ./persistence/categorizer_q2_worker_2:/app/persistence

  categorizer_q2_worker_3:
    build:
      context: .
      dockerfile: workers/categorizer_q2/Dockerfile
    container_name: categorizer_q2_worker_3
    environment:
      - RABBITMQ_HOST=rabbitmq_server
      - ITEMS_QUEUE=categorizer_q2_items_queue
      - RECEIVER_QUEUE=categorizer_q2_receiver_queue_3
      - GATEWAY_QUEUE=query2_result_receiver_queue
      - TOPIC_EXCHANGE=categorizer_q2_topic_exchange
      - FANOUT_EXCHANGE=categorizer_q2_fanout_exchange
      - ITEMS_FANOUT_EXCHANGE=categorizer_q2_items_fanout_exchange
      - WORKER_INDEX=2
      - TOTAL_WORKERS=3
      - NUMBER_OF_YEAR_WORKERS=3
    networks:
      - tpg_net
    depends_on:
      - rabbitmq_server
      - gateway
    volumes:
      - ./persistence/categorizer_q2_worker_3:/app/persistence

  categorizer_q3_worker_1:
    build:
      context: .
      dockerfile: workers/categorizer_q3/Dockerfile
    container_name: categorizer_q3_worker_1
    environment:
      - RABBITMQ_HOST=rabbitmq_server
      - RECEIVER_EXCHANGE=categorizer_q3_exchange
      - FANOUT_EXCHANGE=categorizer_q3_fanout_exchange
      - WORKER_INDEX=0
      - GATEWAY_QUEUE=query3_result_receiver_queue
      - NUMBER_OF_HOUR_WORKERS=4
      - ASSIGNED_SEMESTERS=semester.2024-1
    networks:
      - tpg_net
    depends_on:
      - rabbitmq_server
    volumes:
      - ./persistence/categorizer_q3_worker_1:/app/persistence

  categorizer_q3_worker_2:
    build:
      context: .
      dockerfile: workers/categorizer_q3/Dockerfile
    container_name: categorizer_q3_worker_2
    environment:
      - RABBITMQ_HOST=rabbitmq_server
      - RECEIVER_EXCHANGE=categorizer_q3_exchange
      - FANOUT_EXCHANGE=categorizer_q3_fanout_exchange
      - WORKER_INDEX=1
      - GATEWAY_QUEUE=query3_result_receiver_queue
      - NUMBER_OF_HOUR_WORKERS=4
      - ASSIGNED_SEMESTERS=semester.2025-1
    networks:
      - tpg_net
    depends_on:
      - rabbitmq_server
    volumes:
      - ./persistence/categorizer_q3_worker_2:/app/persistence

  birthday_dictionary_worker_0:
    build:
      context: .
      dockerfile: ./workers/birthday_dictionary/Dockerfile
    container_name: birthday_dictionary_worker_0
    environment:
      - RABBITMQ_HOST=rabbitmq_server
      - RECEIVER_QUEUE=birthday_dictionary_worker_0_queue
      - RECEIVER_EXCHANGE=birthday_dictionary_exchange
      - GATEWAY_REQUEST_QUEUE=birthday_dictionary_client_request_queue
      - GATEWAY_CLIENT_DATA_QUEUE=gateway_client_data_queue
      - QUERY4_ANSWER_QUEUE=query4_answer_queue
      - AMOUNT_OF_WORKERS=3
      - CATEGORIZER_Q4_WORKERS=3
      - WORKER_INDEX=0
    networks:
      - tpg_net
    depends_on:
      - rabbitmq_server
      - gateway
    volumes:
      - ./persistence/birthday_dictionary_worker_0:/app/persistence

  birthday_dictionary_worker_1:
    build:
      context: .
      dockerfile: ./workers/birthday_dictionary/Dockerfile
    container_name: birthday_dictionary_worker_1
    environment:
      - RABBITMQ_HOST=rabbitmq_server
      - RECEIVER_QUEUE=birthday_dictionary_worker_1_queue
      - RECEIVER_EXCHANGE=birthday_dictionary_exchange
      - GATEWAY_REQUEST_QUEUE=birthday_dictionary_client_request_queue
      - GATEWAY_CLIENT_DATA_QUEUE=gateway_client_data_queue
      - QUERY4_ANSWER_QUEUE=query4_answer_queue
      - AMOUNT_OF_WORKERS=3
      - CATEGORIZER_Q4_WORKERS=3
      - WORKER_INDEX=1
    networks:
      - tpg_net
    depends_on:
      - rabbitmq_server
      - gateway
    volumes:
      - ./persistence/birthday_dictionary_worker_1:/app/persistence

  birthday_dictionary_worker_2:
    build:
      context: .
      dockerfile: ./workers/birthday_dictionary/Dockerfile
    container_name: birthday_dictionary_worker_2
    environment:
      - RABBITMQ_HOST=rabbitmq_server
      - RECEIVER_QUEUE=birthday_dictionary_worker_2_queue
      - RECEIVER_EXCHANGE=birthday_dictionary_exchange
      - GATEWAY_REQUEST_QUEUE=birthday_dictionary_client_request_queue
      - GATEWAY_CLIENT_DATA_QUEUE=gateway_client_data_queue
      - QUERY4_ANSWER_QUEUE=query4_answer_queue
      - AMOUNT_OF_WORKERS=3
      - CATEGORIZER_Q4_WORKERS=3
      - WORKER_INDEX=2
    networks:
      - tpg_net
    depends_on:
      - rabbitmq_server
      - gateway
    volumes:
      - ./persistence/birthday_dictionary_worker_2:/app/persistence

  categorizer_q4_worker_1:
    build:
      context: .
      dockerfile: ./workers/categorizer_q4/Dockerfile
    container_name: categorizer_q4_worker_1
    environment:
      - RABBITMQ_HOST=rabbitmq_server
      - RECEIVER_QUEUE=store_user_categorizer_queue_1
      - TOPIC_EXCHANGE=categorizer_q4_topic_exchange
      - FANOUT_EXCHANGE=categorizer_q4_fanout_exchange
      - WORKER_INDEX=0
      - AMOUNT_OF_WORKERS=3
      - BIRTHDAY_MAPPERS=3
      - BIRTHDAY_DICT_QUEUE=birthday_dictionary_queue
      - NUMBER_OF_YEAR_WORKERS=3
    networks:
      - tpg_net
    depends_on:
      - rabbitmq_server
      - gateway
    volumes:
      - ./persistence/categorizer_q4_worker_1:/app/persistence

  categorizer_q4_worker_2:
    build:
      context: .
      dockerfile: ./workers/categorizer_q4/Dockerfile
    container_name: categorizer_q4_worker_2
    environment:
      - RABBITMQ_HOST=rabbitmq_server
      - RECEIVER_QUEUE=store_user_categorizer_queue_2
      - TOPIC_EXCHANGE=categorizer_q4_topic_exchange
      - FANOUT_EXCHANGE=categorizer_q4_fanout_exchange
      - WORKER_INDEX=1
      - AMOUNT_OF_WORKERS=3
      - BIRTHDAY_MAPPERS=3
      - BIRTHDAY_DICT_QUEUE=birthday_dictionary_queue
      - NUMBER_OF_YEAR_WORKERS=3
    networks:
      - tpg_net
    depends_on:
      - rabbitmq_server
      - gateway
    volumes:
      - ./persistence/categorizer_q4_worker_2:/app/persistence

  categorizer_q4_worker_3:
    build:
      context: .
      dockerfile: ./workers/categorizer_q4/Dockerfile
    container_name: categorizer_q4_worker_3
    environment:
      - RABBITMQ_HOST=rabbitmq_server
      - RECEIVER_QUEUE=store_user_categorizer_queue_3
      - TOPIC_EXCHANGE=categorizer_q4_topic_exchange
      - FANOUT_EXCHANGE=categorizer_q4_fanout_exchange
      - WORKER_INDEX=2
      - AMOUNT_OF_WORKERS=3
      - BIRTHDAY_MAPPERS=3
      - BIRTHDAY_DICT_QUEUE=birthday_dictionary_queue
      - NUMBER_OF_YEAR_WORKERS=3
    networks:
      - tpg_net
    depends_on:
      - rabbitmq_server
      - gateway
    volumes:
      - ./persistence/categorizer_q4_worker_3:/app/persistence

  health_checker_0:
    build:
      context: .
      dockerfile: ./workers/health_checker/Dockerfile
    container_name: health_checker_0
    environment:
      - RABBITMQ_HOST=rabbitmq_server
      - WORKER_INDEX=0
      - AMOUNT_OF_WORKERS=3
      - HEALTH_ADDRESS_TARGETS=filter_by_year_worker_0:2000,filter_by_hour_worker_0:2000,filter_by_hour_worker_3:2000,categorizer_q2_worker_1:2000,categorizer_q3_worker_1:2000,birthday_dictionary_worker_1:2000,categorizer_q4_worker_2:2000,health_checker_1:2000
    networks:
      - tpg_net
    depends_on:
      - rabbitmq_server
      - gateway
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

  health_checker_1:
    build:
      context: .
      dockerfile: ./workers/health_checker/Dockerfile
    container_name: health_checker_1
    environment:
      - RABBITMQ_HOST=rabbitmq_server
      - WORKER_INDEX=1
      - AMOUNT_OF_WORKERS=3
      - HEALTH_ADDRESS_TARGETS=filter_by_year_worker_1:2000,filter_by_hour_worker_1:2000,filter_by_amount_worker_0:2000,categorizer_q2_worker_2:2000,categorizer_q3_worker_2:2000,birthday_dictionary_worker_2:2000,categorizer_q4_worker_3:2000,health_checker_2:2000
    networks:
      - tpg_net
    depends_on:
      - rabbitmq_server
      - gateway
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

  health_checker_2:
    build:
      context: .
      dockerfile: ./workers/health_checker/Dockerfile
    container_name: health_checker_2
    environment:
      - RABBITMQ_HOST=rabbitmq_server
      - WORKER_INDEX=2
      - AMOUNT_OF_WORKERS=3
      - HEALTH_ADDRESS_TARGETS=filter_by_year_worker_2:2000,filter_by_hour_worker_2:2000,filter_by_amount_worker_1:2000,categorizer_q2_worker_3:2000,birthday_dictionary_worker_0:2000,categorizer_q4_worker_1:2000,health_checker_0:2000
    networks:
      - tpg_net
    depends_on:
      - rabbitmq_server
      - gateway
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

networks:
  tpg_net:
    ipam:
      driver: default
      config:
        - subnet: 172.25.125.0/24
